{% extends 'base.html' %}

{% block head %}

<title>{% block title %}{{ movie['title'] }}{% endblock %}</title>


{% endblock %}

{% block body %}


<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <div class="container-fluid  text-center text-light">
            {% if movie != None %}
                <h1>{{ movie['title'] }} <div class="mb-2 text-muted"> ({{ movie['released'][6:10] }}) </div></h1>
                <div class="container text-dark" style="width: 24rem;">
                    <ul class="list-group">
                        <li class="list-group-item">Genre: {{ movie['genre'] }}</li>
                        <li class="list-group-item">Classification: {{ movie['classification'] }}</li>
                        <li class="list-group-item">Starring: {{ movie['star'] }}</li>
                        <li class="list-group-item">Runtime: {{ movie['runtime'] }} ({{ runtime_readable }})</li>
                    </ul>
                </div>
            {% else %}
                <h1>Movie Not Found</h1>
                <a style="color: black ;" href="/" class="btn btn-link" role="button">Return Home</a>
            {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid text-center text-light">
                <h4>Leave a Review</h4>
                {% if show_post_error == True %}
                    <div id="alreadyReviewedAlert" class="alert alert-dark" role="alert">
                        You have already left a review for this movie.
                    </div>
                {% endif %}
                <div style="display:none" id="noVoteAlert" class="alert alert-dark" role="alert">
                    Please vote the movie up or down
                </div>
                <form action="javascript:void(0);" method="post" id="reviewForm" style="padding-bottom: 2rem;">
                    <div class="form-group">
                        <textarea class="form-control" name="reviewarea" rows="3" required></textarea>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-dark" id="voteUp" onclick="reviewVotes(this.id)"><i class="fas fa-thumbs-up"></i></button>
                        <button type="button" class="btn btn-dark" id="voteDown" onclick="reviewVotes(this.id)"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <input type="hidden" id="voteValue" name="voteValue" value="none">
                    <input type="hidden" id="movieid" name="movieid" value="{{ movie['movieid']}}">
                    <input class="btn btn-dark" type="submit" onclick="mustGiveVote(movieid.value)" value="Post">
                </form>
                {% for review in reviews %}
                    <div class="card text-white text-left bg-dark mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    {% if review['vote'] == 'up' %}
                                        <h5 class="card-title" style="color: green; font-size: 50px;"><i class="fas fa-thumbs-up"></i></h5>
                                    {% elif review['vote'] == 'down' %}
                                        <h5 class="card-title" style="color: rgba(255, 0, 0, 0.623); font-size: 50px;"><i class="fas fa-thumbs-down"></i></h5>
                                    {% endif %}
                                </div>
                                <div class="col-sm-9">
                                    <p class="card-text">{{ review['review_text'] }}</p>
                                    <h6 class="card-subtitle mb-2 text-muted">- {{ review['user'] }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}
