{% extends 'base.html' %}

{% block head %}

<title>{% block title %}{{ movie['title'] }}{% endblock %}</title>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>


{% endblock %}

{% block body %}


<div class="row">
    <div class="col-sm-2">
        <img style="width:325px;padding:10px" src="https://bestflix.s3-ap-southeast-2.amazonaws.com/{{ movie['movieid']}}.jpg" alt="{{ movie['title'] }}">
    </div>
    <div class="col-sm-7">
        <div style="padding-top: 10px;" class="container-fluid text-left text-light">
            <h1>{{ movie['title'] }} <span class="mb-2 text-muted"> ({{ movie['released'][6:10] }}) </span></h1>
            <h4>Starring {{ movie['star'] }}</h4>
            <h4>Directed by {{ movie['director'] }} </h4>
            <i><h4>{{ movie['company'] }} </h4></i>
            <h5> {{movie['genre']  }} | Rated {{ movie['classification'] }}</h5>
            <h6 class="text-muted">Runtime: {{ movie['runtime'] }} ({{ runtime_readable }})</h6>
            {% if session.logged_in %}
                {% if not user_already_favourited %}
                    <form action="/movie/{{ movie['movieid']}}" method="POST">
                        <input type="hidden" name="form-type" value="favourite_add">
                        <input type="hidden" id="movieid" name="movieid" value="{{ movie['movieid']}}">
                        <input type="hidden" name="callback" value="/movie/{{ movie['movieid']}}">
                        <button type="submit" class="btn btn-warning"><i class="fas fa-star"></i> Favourite</button>
                    </form>
                {% else %}
                    <form action="/movie/{{ movie['movieid']}}" method="POST">
                        <input type="hidden" name="form-type" value="favourite_remove">
                        <input type="hidden" id="movieid" name="movieid" value="{{ movie['movieid']}}">
                        <input type="hidden" name="callback" value="/movie/{{ movie['movieid']}}">
                        <button style="width: 8rem;background-color: #ba8e09; border-color: #ba8e09;"  onmouseover="giveRemoveOption('in')" onmouseout="giveRemoveOption('out')" type="submit" id="favouritedButton" class="btn btn-warning text-center">
                            <i class="fas fa-check-circle"></i> Favourited
                        </button>
                    </form>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid text-center text-light">
                <h4>Leave a Review</h4>
                {% if not session.logged_in %}
                        <h6 class="text-muted">Please log in to leave a review</h6>
                {% endif %}
                <div style="display:none" id="noVoteAlert" class="alert alert-dark" role="alert">
                        Please vote the movie up or down
                </div>
                <form action="javascript:void(0);" method="post" id="reviewForm" style="padding-bottom: 2rem;">
                    <div class="form-group">
                        <textarea class="form-control" name="reviewarea" rows="3" required {% if not session.logged_in %}disabled{% endif %}></textarea>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-dark" id="voteUp" onclick="reviewVotes(this.id)" {% if not session.logged_in %}disabled{% endif %}>
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                        <button type="button" class="btn btn-dark" id="voteDown" onclick="reviewVotes(this.id)" {% if not session.logged_in %}disabled{% endif %}>
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    </div>
                    <input type="hidden" id="voteValue" name="voteValue" value="none">
                    <input type="hidden" id="movieid" name="movieid" value="{{ movie['movieid']}}">
                    <input type="hidden" name="form-type" value="review">
                    <input type="hidden" name="callback" value="/movie/{{ movie['movieid']}}">
                    <input class="btn btn-dark" type="submit" onclick="mustGiveVote(movieid.value)" value="Post" {% if not session.logged_in %}disabled{% endif %}>
                </form>
                {% for review in reviews %}
                    <div class="card text-white text-left bg-dark mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    {% if review['vote'] == 'up' %}
                                        <h5 class="card-title" style="color: green; font-size: 50px;"><i class="fas fa-thumbs-up"></i></h5>
                                    {% elif review['vote'] == 'down' %}
                                        <h5 class="card-title" style="color: rgba(255, 0, 0, 0.623); font-size: 50px;"><i class="fas fa-thumbs-down"></i></h5>
                                    {% endif %}
                                </div>
                                <div class="col-sm-9">
                                    <p class="card-text">{{ review['review_text'] }}</p>
                                    <a style="color: white;" href="/user/{{ review['user'] }}" class="btn btn-link"><h6 class="card-subtitle mb-2 text-muted">- {{ review['user'] }}</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock %}
